.env
.venv/
__pycache__/
*.pyc
*.session
*.session-journal
sessions/*
!sessions/.gitkeep
!sessions/README.md
sessions.txt
data.txt
channel.txt
answers.txt
proxy.txt
useragents.txt
xtoken.txt
exports/*
!exports/.gitkeep
*.exe
*.dll
*.rar
*.zip
